<div class="container">
  <div class="row justify-content-center">
    <!-- <div class="col-sm-12 col-md-12 col-lg-12"> -->
      <div class=" mt-4 mb-4">
      <h2 class=“text-center”>Hey <%= current_user.first_name %>, when do you want to book?</h2>
      </div>
        <%#= render "components/booking-form" %>
    <!-- </div> -->
  </div>
  <%= render "components/booking-form" %>
</div>

