<div class="container mt-4 mb-2">
  <div class="row justify-content-center">
    <div class="col-sm-12 col-md-12 col-lg-6">
        <!-- <h3 class="text-center" id="form-title">Hey <%#= current_user.first_name %>, create a life you would like others to book</h3> -->
        <div class="pt-2">
          <h3 class="text-center">Hey <%= current_user.first_name %></h3>
          <h4 class="text-center mb-5">create a life you would like others to book</h4>
        </div>
        <%= render "components/life-form" %>
    </div>
  </div>
</div>

